<div class="all-container main-div">
  <app-header>
  </app-header>
  <div class="home-page flex-column justify-content-center align-items-center">
      <p-card class="card" styleClass="shadow-3 border-radius" header="Bolão do Bebê">
        <div class="main-container">
          <h2 [ngStyle]="{color: 'var(--primary-color)'}">Informações Pré-Bolão</h2>
          @if (isLoading){
            <div class="flex justify-content-center align-items-center h-full">
              <app-loading></app-loading>
            </div>
          } @else {
            <div class="container-form flex justify-content-center h-full">
              <form class="form" [formGroup]="basicInfos" >

                <div class="form-element">
                  <p><strong [ngStyle]="{color: 'var(--primary-color)'}">Observação:</strong> As informações coletadas são apenas para salvar a confirmação do pagamento.</p>
                </div>

                <div class="form-element">
                  <p-inputGroup>
                    <p-inputGroupAddon>
                      <i class='pi pi-user'></i>
                    </p-inputGroupAddon>
                    <p-floatLabel class="input-group">
                      <input pInputText id="name" formControlName="name" type="text" class="input-custom"/>
                      <label for="name">Nome</label>
                    </p-floatLabel>
                  </p-inputGroup>
                </div>

                <div class="form-element">
                  <p-inputGroup>
                    <p-inputGroupAddon>
                      <i class='pi pi-envelope'></i>
                    </p-inputGroupAddon>
                    <p-floatLabel class="input-group">
                      <input pInputText id="email" formControlName="email" type="text" class="input-custom"/>
                      <label for="email">Email</label>
                    </p-floatLabel>
                  </p-inputGroup>
                </div>

                <div class="form-element flex flex-row justify-content-center align-items-center gap-3">
                  <p-button label="Cancelar" type="submit" (click)="navigateTo('/home')" />
                  <p-button label="Confirmar" type="submit" (click)="submitInfos()" />
                </div>
              </form>
            </div>
          }
        </div>
      </p-card>
  </div>
</div>
