.home-page{
  display: flex;
  // justify-content: center;
  align-items: center;
  height: calc(100vh - 110px);
  // background-image: url('https://img.freepik.com/fotos-premium/um-fundo-colorido-com-um-fundo-preto-e-uma-imagem-colorida-de-um-respingo-de-tinta_777078-9390.jpg');
  // background-color: yellow;

  .main-container{
    display: flex;
    flex-direction: column;
    height: 450px;
    // background-color: red;
    flex: 1;

    h2{
      text-align: center;
    }

    .container-form{
      .form{
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        // height: 80%;

        .form-element{
          display: flex;
          flex-direction: column;

          .input-group{
            width: 60%;

            .input-custom{
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
            }

            @media (max-width: 600px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep .p-card-title {
  color: var(--primary-color);
}

:host ::ng-deep .p-dialog-title {
  color: var(--primary-color);
}


:host ::ng-deep .p-card-body {
  height: 100%;
  width: 600px;

  @media (max-width: 600px) {
    width: 98vw;
  }
}

:host ::ng-deep .p-button {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

:host ::ng-deep .p-button:hover {                         // p-ripple p-element p-button p-component
  background-color: var(--secondary-color);               // p-element p-ripple ng-tns-c1623988549-2 p-dialog-header-icon p-dialog-header-close p-link p-button p-component ng-star-inserted
  border-color: var(--secondary-color);
}

:host ::ng-deep .p-dialog-header-icon{
  background-color: transparent !important;
}

:host ::ng-deep .p-inputgroup {
  display: flex;
  justify-content: center;
}

.main-div{
  z-index: 999 !important;
}

.shadow-div{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.4);

  z-index: 99;
}
