<div class="all-container main-div">
  <app-header />
  <div class="home-page flex-column justify-content-center align-items-center">
    <p-card class="card" header="Palpite do Chá Revelação">
        <div class="main-container">
          <!-- <h2 [ngStyle]="{color: 'var(--primary-color)'}">Vencedora!!</h2> -->
          <div class="flex justify-content-center align-items-center h-full flex-column">
            <h2 [ngStyle]="{color: 'var(--primary-color)'}">O bebê vai ser Menina!!!!</h2>
            <img src="../../../../../assets/images/options/img-girl-option.jpeg" class="option-img">
            <p class="notification-text">Para aqueles que votaram em <span class="personalized">menina</span> esperem os proximos dias para receberem!</p>
            <h3 [ngStyle]="{color: 'var(--primary-color)'}">Obrigada por participar!</h3>
          </div>
        </div>
    </p-card>
  </div>
</div>